[Unit]
Description=FileSnitch daemon
After=dbus.service
StartLimitIntervalSec=5min
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/bin/filesnitchd --config /etc/filesnitch/config.toml
Restart=on-failure
RestartSec=20
RestartPreventExitStatus=1
User=root
Group=root
AmbientCapabilities=CAP_SYS_ADMIN CAP_DAC_READ_SEARCH
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_DAC_READ_SEARCH
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
